.NavLinkResultForm{
   text-decoration: none;
   color: rgb(132, 34, 132);
}

.NavLinkResultForm :hover{
 color: rgb(99, 93, 93);
}

.gridFix{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));
   grid-gap:3em;
}

.linlButtonControl{
   color: black;
   text-decoration: none;
   font-weight: 700;
}