.pic:hover {
  scale: 0.9;
}

.active {
  color: #000000;
  text-decoration: none;
}

.active:hover{
   color: #793077;
}

.ProdName {
  font-size: 0.8rem;
}

.prodBrandText {
  font-size: 0.8rem;
}

.prodPriceText {
  font-size: 0.8rem;
  color: rgb(136, 131, 131);
  /* word-spacing: 10px; */
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  
}

.cardBody {
  display: flex;
  justify-content: center;
  line-height: 0.7;
  /* white-space: nowrap; */
  text-align: center;
  text-transform: uppercase ;
  
  
}




@media (max-width: 640px) {
  .allProductsPage {
    flex-direction: column;
  }
}
