/* .cardbody{
    display: flex;
    justify-content: center;
    text-align: center;
}

.cardplacement{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap:10px;
    text-align: center;
}

.pic {
    max-height: 200px;
    margin-bottom: 10px;
}
.container {
    text-align: center;
    
} */


.ProdGrid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));
    grid-gap:3em;
 }

 .backgroundControl{
    background-color: #f8f9f9;
 }