/* @keyframes background {
   100% {background-size: 4000px 1000px;}
} */

.login2{
   width: 90%;
   padding: 70px 30px 44px;
   border-radius: 22px;
   background: #161616;
   text-align: center;
   margin-top: 70px;
   
}

@media (width >= 450px) {
   .login2 { width: 380px;}
}

.login2 > h2 {
   font-size: 36px;
   font-weight: 100;
   margin: 0 0 4px;
}

.login2 > h3 {
   color:  rgba(255, 255, 255, 0.38);
   margin: 0 0 30px;
   font-weight: 500;
   font-size: 16px;
}

.login-form{
   display: grid;
   gap: 16px;
   place-items: center;
   width: 100%;
   margin: 0;
}

.textbox {
   width: 100%;
   position: relative;

}

.textbox span {
   position: absolute;
   top: 50% ; 
   left: 16px;
   transform: 0 -50;
   color: rgba(255, 255, 255, 0.38);
}

.login-form input, 
.login-form button {
   width: 100%;
   height: 60px;
   outline: none;
   padding: 0;
   font-size: 16px;
   border-radius: 8px;
}

.login-form input{
   background: transparent;
   border: 2px solid rgba(255, 255, 255, 0.1);
   font-size: 18px;
   padding: 0 20px 0 50px;
   color: inherit;
}

.login-form input:focus {
 background-color: rgb(110, 50, 110);
}

.login-form input:focus ~ span {
   background-color: rgb(110, 50, 110);
  }

.login-form button {
   cursor: pointer;
   background: rgb(134, 21, 182);
   color: #f9f9f9;
   border: 0;
   font-weight: 600;
   letter-spacing: 2px;

}

.login-form .NavLinK {
   color: rgb(196, 46, 196);
   font-size: 16px;
   text-align: left;
   text-decoration: none;
}

.NavLinK:hover{
   color: whitesmoke;
}

.all{
   display: grid;
   place-items: center;
   margin: 0;
   padding: 0 24px;
   color: #f9f9f9;
   height: 100%;
}

@media (width >= 500px) {
   body { padding: 0;}
}
