/* #test {
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;

}

.parent {
  position: fixed;
  left: 0px;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
